/0000_科學與人文_240523.pdf
/00_實驗室守則( 資訊一甲).pptx
/01_資料結構入門與演算法_upload.pdf
/1 Presentation Structure and Useful Expressions 簡報架構與用語.pdf
/10814a3-7.csv
/111-1課業輔導家長同意書.pdf
/111-1課程學習成果-專題研究 (1).pdf
/111-1課程學習成果-專題研究-參考格式.docx
/111-1課程學習成果-專題研究.pdf
/111-2課程學習成果-專題研究.pdf
/1112-三民高中自主學習計畫(1頁)～含引導文字.docx
/113-1 GE Level 3 Online Final Exam.seb
/113-1 SEB Pilot Test.seb
/113-1服務學習進度表(67節重要規定學習單)20240922.docx
/113-1服務學習進度表20240924 (1).docx
/113-1服務學習進度表20240924.docx
/113-2逢甲大學中文思辨與表達進度與評分說明W4s (1).pptx
/113-2逢甲大學中文思辨與表達進度與評分說明W4s.pptx
/1133171111001249.PDF
/11401DS期中考.pdf
/1141 5G發展與智慧生活課程介紹.pptx
/123 (1).cpp
/123 (2).cpp
/123 (3).cpp
/123 (4).cpp
/123 (5).cpp
/123 (6).cpp
/123 (7).cpp
/123.cpp
/1301科學與人文_Schedule_240906.pdf
/1b7ca7254c3164fa098b6c6c989720c7.csv
/2022高一第二學期多元選修學習歷程.pdf
/20813-陳李安閱讀心得-你所不知道的4個賈伯斯.docx
/288959196_1096078481313547_5136886887826815174_n.jpg
/3f4443dbc79f1370e60acba40ea24aaf.csv
/5 5G定位與扮演的角色.pptx
/57服務學習(資訊一甲 D1321086 陳李安 ).docx
/5b2fb629-af75-4a7f-afc6-96593f4875d6.xlsx
/7z1900-x64.exe
/9.社會出了問題？（二）：資本狂熱與孤立的工人_以有限生命轉化為資本投入#####.pptx
/a077-.csv
/a077-.xls
/a081- (1).csv
/a081-.csv
/ACFrOgAgAw09TzD39qfFAXLPmAhDNT9yEB9m6qI_05In2teHM122yAqrgnEaIHIyjoebypWpsj45CVqjgqxO8j3am3J-BXv2oRr8JbGM7W-NSDPXnA8d_MKihAnhKw5At1iVRkxPsYXiNsqf8xHJ.pdf
/ACFrOgD-2NAfxctkbRLB2zR49L6Kc7uT_BrBFO-hYsESSAvkhXWRpo45iNgVn1zrNnbHiceRznHnBqvONobZHdBPiQVgpY--FKedh-bQuufH8tj2x5qmBZCxb_4zX8lQYCANDRo_RA9-OESUGkTD.pdf
/ACFrOgDnLV7UXyMguGiRgdqTajsiXDYp-5FxnM71CzEM55FrOXJ-07f2G5hffP-ak9yv8j5SABsfErqChiiIcpcPJQN5lKTIx9InidGCXgFE67mWbpCFF_my50KIic3O6l-ZJHbDIEfzLWya_XHS.docx
/Adobe Scan 2022年6月28日_1.jpg
/ai-studio-2024.1.0-win64-install.exe
/Anaconda + OpenCV 安裝步驟.pdf
/Anaconda3-2025.12-2-Windows-x86_64.exe
/arduino-1.8.19-windows.exe
/ArmouryCrateInstallTool
/ArmouryCrateInstallTool.zip
/btreeprint (1).c
/btreeprint.c
/ce20600811e9e535f3980ed55a807438.csv
/ch8_0312.pdf
/ChatGPT Image 2025年12月30日 下午10_34_26.png
/ChromeSetup.exe
/convert to recursion.pdf
/D1321086(第一題).cpp
/D1321086(第一題).exe
/D1321086.drawio.png
/desktop.ini
/Dev-Cpp 5.11 TDM-GCC 4.9.2 Setup.exe
/Doc1.pdf
/Doc2.pdf
/down.exe
/DPlayer (1).png
/DPlayer (10).png
/DPlayer (11).png
/DPlayer (12).png
/DPlayer (13).png
/DPlayer (14).png
/DPlayer (15).png
/DPlayer (2).png
/DPlayer (3).png
/DPlayer (4).png
/DPlayer (5).png
/DPlayer (6).png
/DPlayer (7).png
/DPlayer (8).png
/DPlayer (9).png
/DPlayer.png
/ef171f40bffcb15b7476f22b7ac93d09.csv
/EM Course Report.pdf
/game.ev3
/Gemini_Generated_Image_lzx71blzx71blzx7.png
/github-recovery-codes.txt
/huffmanCode (1).c
/huffmanCode.c
/HW3-master-45aa5df7eb067f355c206ac0776af2df488ba666.zip
/ideaIC-2025.2.2.exe
/jdk-21_windows-x64_bin.exe
/jdk-21_windows-x64_bin.msi
/jdk-21_windows-x64_bin.zip
/Lab12_陳李安_D1321086.docx
/Lab1_陳李安_D1321086.pdf
/LineInst.exe
/LME-EV3-WIN32-ENGB-01-01-full-setup.exe
/logic01.pptx
/logic02.pptx
/logic03.pptx
/logic04.pptx
/logic05a.pptx
/logic05b.pptx
/logic06.pptx
/message.txt
/OfficeSetup.exe
/QQSoftDownloader_v1.1_webnew_540@.exe
/Quartus II  安裝與使用 (1).pptx
/Quartus II  安裝與使用.pptx
/ROG_Armoury_v30044
/ROG_Armoury_v30044.zip
/SEB_3.8.0.742_SetupBundle.exe
/sketch_dec7a.zip
/Sustainable diet-Group G.pdf
/Untitled1 (1).cpp
/Untitled1 (1).exe
/Untitled1.cpp
/Untitled1.exe
/VSCodeUserSetup-x64-1.108.0.exe
/xfplay9.99982 (1).exe
/xfplay9.99982 (2).exe
/xfplay9.99982 (3).exe
/xfplay9.99982.exe
/XRecorder_Edited_30052022_135730.mp4
/一般【工程與設計】-海報-永續盆栽.pdf
/一般【工程與設計】-海報-永續盆栽.pptx
/一般【工程與設計】-計畫-永續盆栽.docx
/一般【工程與設計】-計畫-永續盆栽.pdf
/三民高中自主學習計畫(單頁).docx
/下載 (1).html
/下載 (2).html
/下載.html
/倡議文寫作學習單.docx
/國文學習歷程.pdf
/國軍近期獲得軍事裝備介紹 資訊一甲 D1321086 陳李安.pdf
/國軍近期獲得軍事裝備介紹 資訊一甲 D1321086 陳李安.pptx
/學習歷程-參考範例.docx
/學習歷程範本.pdf
/實驗_01_基本邏輯閘與使用.pptx
/實驗_02_互斥或閘與應用.pptx
/實驗_03_NAND與NOR閘的應用.ppt
/實驗_04_簡單應用電路與布林代數.ppt
/實驗_05_布林代數的應用.ppt
/實驗_06_卡諾圖.ppt
/實驗_07_七段顯示器與解碼電路.ppt
/實驗_08_加減法器.ppt
/實驗_09_比較器與 BCD 加法器.ppt
/實驗_10_多工器與編碼器.ppt
/實驗_11_閂鎖器與正反器.ppt
/實驗_12_移位暫存器與應用.ppt
/實驗_13_非同步計數器.ppt
/實驗_14_同步計數器.ppt
/實驗_15_有限狀態機.pptx
/專案1
/專案1.zip
/專題初賽模板.pptx.pptx
/布農族 祈禱小米豐收歌 .wma
/心中的小星星20241015.docx
/我的課表.pdf
/截圖 2025-12-15 晚上7.05.59.png
/拉式轉換報告.docx
/排灣族 持續低音 複音唱法.wma
/文件 - 捷徑.lnk
/智能盆栽(專題).docx (1).pdf
/智能盆栽(專題).docx (2).pdf
/智能盆栽(專題).docx.pdf
/服務學習(100萬的願望).docx
/服務學習單20240924.doc
/期中報告規定.pptx
/期中考參考答案.pdf
/機器人 (1).PNG
/機器人 (2).PNG
/機器人.PNG
/機器人2 (1).PNG
/機器人2 (2).PNG
/機器人2.PNG
/機器人3 (1).PNG
/機器人3.PNG
/機器人4.PNG
/機器人5.PNG
/機器人報告 (1).docx
/機器人報告(1).docx
/機器人報告(2).docx
/機器人報告.docx
/永續盆栽(專題).docx
/永續盆栽(專題).docx.pdf
/泰雅族 四簧口簧琴 .wma
/生涯規劃  108資訊.pptx
/生涯規劃  108資訊學群.pptx
/研究方法期末報告範本(供參考，歡迎修改.pdf
/程式設計實習課1 (1).pptx
/程式設計實習課1.pptx
/程式設計實習課3.pptx
/程式設計實習課4.pptx
/第10週題目練習 (1).pdf
/第10週題目練習.pdf
/第11週題目練習.pdf
/第12週題目練習.pdf
/第一次段考小考卷(全).pdf
/第七週題目練習 (1).pdf
/第七週題目練習.pdf
/第三週題目練習 (1).pdf
/第三週題目練習 (2).pdf
/第三週題目練習.pdf
/第二週題目練習 (1).pdf
/第二週題目練習.pdf
/第五週題目練習 (1).pdf
/第五週題目練習.pdf
/第八週題目練習 (1).pdf
/第八週題目練習.pdf
/第六週題目練習 (1).pdf
/第六週題目練習.pdf
/第十組 期末報告.pptx
/第四週題目練習 (1).pdf
/第四週題目練習.pdf
/範本.pdf
/結報封面範本 (1).docx
/結報封面範本.docx
/練習1 (1).c
/練習1 (1).cpp
/練習1 (2).cpp
/練習1 (3).cpp
/練習1 (4).cpp
/練習1.c
/練習1.cpp
/練習1.exe
/練習2 (1).cpp
/練習2 (2).cpp
/練習2 (3).cpp
/練習2 (4).cpp
/練習2 (5).cpp
/練習2.cpp
/練習3 (1).c
/練習3 (1).cpp
/練習3 (1).exe
/練習3 (2).c
/練習3 (2).cpp
/練習3 (3).c
/練習3 (3).cpp
/練習3.c
/練習3.cpp
/練習一.cpp
/練習二.cpp
/自主學習-30813陳李安.pdf
/英文作文.docx.pdf
/英文成績 (1).xlsx
/英文成績.xlsx
/課程進度.pptx
/課表.png
/議題討論 3 第10組.pptx
/議題討論3 智慧城市智慧交通讓生活更美好 智慧教育真能有教無類因材施教.pptx
/議題討論第10組.pptx
/資料結構實習課0909 (1).pdf
/資料結構實習課0909.pdf
/資訊一甲B1SLM儀器介紹及光柵繞射.docx
/資訊一甲B1SLM儀器介紹及光柵繞射.pdf
/軟體工程小組練習.xlsx
/達悟族 到小蘭嶼捕飛魚返航歌 .wma
/體育課課程計畫 (1).pdf
/體育課課程計畫 (1)10809.pdf
/體育課課程計畫 (2).pdf
/體育課課程計畫 (3).pdf
/體育課課程計畫.pdf